.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: $header-height;
    .header__logo {
        font-size: 1.5rem;
        font-weight: 600;
        color: $text-1-color;
        margin-right: 7rem;
    }
    .header__nav {
        height: 100%;
        display: flex;
        margin-right: 2rem;
        .header__nav__list {
            justify-self: start;
            display: flex;
            .header__nav__item {
                a {
                    display: flex;
                    align-items: center;
                    padding: 0 .5rem;
                    margin-right: 1rem;
                    height: 100%;
                    color: $text-2-color;
                    font-weight: 600;
                    &.active {
                        border-bottom: 2px solid $text-4-color;
                    }
                }
            }
        }
    }
    .header__user {
        .header__user__login, .header__user__register {
            color: $text-3-color;
        }
        .header__user__login {
            margin-right: 1rem;
        }
    }
}
