@import "./dashHeader.scss";
@import "./dashNavigation.scss";
@import "./static/dashStatic.scss";
@import "./scan/dashScan.scss";
@import "./report/dashReport.scss";
@import "./history/dashHistory.scss";

.dash {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nav header"
                         "nav container";
    .dash__header {
        grid-area: header;
    }
    .dash__navigation {
        grid-area: nav;
    }
    .dash__container {
        grid-area: container;
    }
}
