/* header height */
$header-height: 3rem;


/* Text color */
$text-1-color: blue;
$text-2-color: lighten(#000, 10);
$text-3-color: lighten(#000, 20);
$text-4-color: darken(orange, 10);

/* Background color */
$background-1-color: lighten($text-1-color, 15);
